{% assign news = site.news | reverse %}
{% if site.news != blank -%}
<div class="news">
  {%- if page.news_limit %}
  {%- assign news_limit = page.news_limit %}
  {% else %}
  {%- assign news_limit = site.news_limit | default: -1 %}
  {%- endif -%}
  {%- for item in news limit: news_limit %}
  <div class="table-responsive">
    <table class="table table-sm table-borderless">
      <tr>
        <th scope="row">{{ item.date | date: "%b %-d, %Y" }}</th>
        <td>
          {% if item.inline -%}
          {{ item.content | remove: '<p>' | remove: '</p>' | emojify }}
          {%- else -%}
          <a class="news-title" href="{{ item.url | relative_url }}">{{ item.title }}</a>
          {%- endif %}
        </td>
      </tr>
    </table>
  </div>
  {%- endfor %}
</div>
{%- endif %} 